  .ga-tp-cell { max-width: 2em; }
  .ga-tp-cell:hover { color: lightslategray; }
  .ga-tp-sel { color: chocolate; }
  .ga-tp-08sz { font-size: 0.8em;}
  .gd-tp-dropdown {
      position: relative;
      display: inline-block;
  }

  .gd-tp-dropdown-content {
      display: none;
      position: absolute;
      background-color: lightgray;
      min-width: 10em;
      box-shadow: 0em 0.5em 1.0em 0em rgba(0,0,0,0.2);
      padding: 0.5em 0.5em 0.5em 0.5em;
      z-index: 1;
  }

  .gd-tp-dropdown:hover .gd-tp-dropdown-content {
      display: block;
  }

  .gd-slider-container { width:100%; padding-bottom: 0.5em }

  .gd-slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: darkgray;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .gd-slider:hover {
    opacity: 1;
  }
  
  .gd-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 23px;
    height: 24px;
    border: 0;
    background-color: black;
    cursor: pointer;
    border-radius: 50%;
  }
  
  .gd-slider::-moz-range-thumb {
    width: 23px;
    height: 24px;
    border: 0;
    background: darkgray;
    cursor: pointer;
  }


