<!DOCTYPE html>

<head> <title>gdtimepicker demo </title> 
<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<script src="https://unpkg.com/vue"></script>

<style>
  .blueback { background-Color:cornflowerblue; }
</style>

<link type="text/css" rel="stylesheet" href="https://compmeist.github.io/gdtimepicker/gdtimepicker.css"/>

<script src="https://compmeist.github.io/gdtimepicker/gdtimepicker.js"></script>

</head>

<body>
<div align="center">
  <h3>&starf;<b>gdtimepicker</b>&starf; Demo</h3>
  <h5>Vue 2 Input component with popup on mouseover</h5>
  <div align="center"><img src="./gdtimepickerss.jpg" /></div>
  <h6>(homage to jQuery UI timepicker)</h6>
</div>

  <div id="vueApp" class="container blueback">
  <br>
    <gdtimepicker v-model="v1"><label>Enter start time:&nbsp;</label></gdtimepicker> <i>(mouseover)</i>
  <br>
  <h6> Start Time input is:{{ v1 }}</h6>
  <br>
  <gdtimepicker v-model="end1"><label>Enter end time:&nbsp;</label></gdtimepicker>
  <br>
  <h6> End input is:{{ end1 }}</h6>

   </div>

   <pre>
   <p align="center"> Use it with v-model.  Slot can be a label tag, etc. </p>
    <p align="center">
    &lt;gdtimepicker v-model="v1"&gt;&lt;label&gt;Enter start time: &lt;/label&gt;&lt;/gdtimepicker&gt;
   </p>
   <label>Use Your Own Styles, too!</label>
   <code> PROPS:
               tableClass: 
               thClass: 
               hrClass:
               mnClass: 
               cellClass: 
               selClass:

   </code>
    <p align="center">
    &lt;gdtimepicker v-model="v1" table-class="mytableCls" sel-class="mySelectedCls" &gt;&lt;label&gt;Enter start time: &lt;/label&gt;&lt;/gdtimepicker&gt;
   </p>
   </pre>
   <h6 align="center"><i>MIT License</i></h6>

  <script>
     var vueVM = new Vue({ 
        el: '#vueApp'
        ,data: { v1: '9:15 AM',end1: '4:45 PM'}
    });
        

  </script>



</body>
